<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header_app">
</head>
<body class="hold-transition skin-blue sidebar-mini">
 <style>
   .example-modal .modal {
     position: relative;
     top: auto;
     bottom: auto;
     right: auto;
     left: auto;
     display: block;
     z-index: 1;
   }
   .example-modal .modal {
     background: transparent !important;
   }
 </style>
	<div class="wrapper">
		<!-- header -->
		<header th:replace="fragments/header :: header"></header>
		<!-- sidebar -->
		<aside th:replace="fragments/sidebar :: sidebar"></aside>

		<!-- Content Wrapper. Contains page content -->
		<div class="content-wrapper">
			<!-- Content Header (Page header) -->
			<section class="content-header">
				<h1>
					kelurahan <small>Index</small>
				</h1>
				<ol class="breadcrumb">
					<li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
					<li class="active">Propinsi</li>
				</ol>
			</section>
			<!-- Main content -->
			<section class="content">
				<div class="row">
					<div class="col-md-12">
						<!-- content mulai -->
						<div class="box box-info box-solid">
							<div class="box-header with-border">
								<h3 class="box-title">List kelurahan</h3>
								<div class="box-tools">
									<div class="input-group input-group-sm" style="width:250px;">
										<input type="text" class="form-control pull-right" placeholder="search"/>
										<div class="input-group-btn">											
											<button type="button" class="btn btn-warning btn-sm" id="btn-search">
												<i class="fa fa-search"></i>
											</button>
											<button type="button" class="btn btn-primary btn-sm" id="btn-add">
												<i class="fa fa-plus"></i> Add 
											</button>
										</div>
									</div>
								</div>
							</div>
							<div class="box-body">
								<table class="table">
									<thead>
										<tr>
											<th>Id</th>
											<th>Kode</th>
											<th>Kelurahan</th>
											<th>Kecamatan</th>
											<th>#</th>
										</tr>
									</thead>
									<tbody id="list-data">
										
									</tbody>
								</table>
							</div>
						</div>
						<!-- content selesai -->
					</div>
				</div>
			</section>
		</div>
		<!-- footer -->
		<div th:replace="fragments/footer :: footer"></div>
	</div>
	
	<!-- modal mulai -->
	<div class="modal fade" id="modal-input">
		<div class="modal-dialog">
		
		</div>
	</div>
	<!-- modal selesai -->
	
	<!-- script javascript -->
	<div th:replace="fragments/footer :: scripts"></div>
	
	<!-- script untuk CRUD page kelurahan  -->
	<script>
		//#1. Read function javascript
		function loadData(){
			// function JQuery
			$.ajax({
				url:'/kelurahan/list',
				type:'get',
				dataType:'html',
				success : function(result){
					$("#list-data").html(result);
				}
			});
		}
		
		//#2. funciton JQuery, pertama kali halaman di load
		$(function(){
			loadData();
		});
		
		//#3. event btn-add => cari button dengan id btn-add
		// event ketika di click, untuk menampilkan form baru
		$("#btn-add").click(function(){
			// request halaman dengan ajax
			$.ajax({
				url:'/kelurahan/add', // lihat di kelurahanController, cari GetMapping(value="/add")
				type:'get',
				dataType:'html',
				success : function(result){
					$("#modal-input").find(".modal-dialog").html(result);
					// menampilkan modal dengan id modal-input
					$("#modal-input").modal('show');
				}
			});
		});
		
		//#4 event di modal input, kemudian cari element dengan id form-kelurahan
		// event ny adalah ketika form di submit
		$("#modal-input").on("submit","#form-kelurahan", function(){
			// inisialisasi variable dataForm, diambil dari serialize method
			var dataForm = $(this).serialize()
			// inisialisasi variable urlForm diambil dari atribute action dari form
			// sehingga untuk CREATE, UPDATE, DELETE menggunakan data ini
			// dan tidak perlu membuat event submit berkali-kali
			var urlForm = $(this).attr('action');
			// submit data dengan AJAX
			$.ajax({
				url:urlForm, // url di isi dengan variable urlForm
				type:'post',
				data:dataForm, // data di isi dengan variable dataForm
				dataType:'html',
				done:function(){
					$("#modal-input").find(".modal-dialog").html("");
				},
				success : function(result){
					// masukan dulu result ke modal
					$("#modal-input").find(".modal-dialog").html(result)
					// check jumlah element yang memiliki class has-error
					var check = $("#modal-input").find(".has-error").length;
					// jika tidak ada error
					if(check==0){
						// menyembunyikan modal dengan id modal-input
						$("#modal-input").modal('hide');
						// tampilkan data dengan memanggil method loadData
						loadData();
					}
				},
			});
			// mencegah submit automatis, sehingga form akan diam tidak melakukan action
			return false;
		});
		
		//#5. menampilkan detail data
		$("#list-data").on("click",".btn-detail", function(){
			var id = $(this).val();
			// request halaman dengan ajax
			$.ajax({
				url:'/kelurahan/detail/'+ id, // lihat di kelurahanController, cari GetMapping(value="/detail/{id}")
				type:'get',
				dataType:'html',
				success : function(result){
					$("#modal-input").find(".modal-dialog").html(result);
					// menampilkan modal dengan id modal-input
					$("#modal-input").modal('show');
				}
			});
		});
		
		//#6. menampilkan form edit data, hanya menampilan form dengan datanya
		// saat submit form, akan diproses dengan nomor #5
		$("#list-data").on("click",".btn-edit", function(){
			var id = $(this).val();
			// request halaman dengan ajax
			$.ajax({
				url:'/kelurahan/edit/'+ id, // lihat di kelurahanController, cari GetMapping(value="/edit/{id}")
				type:'get',
				dataType:'html',
				success : function(result){
					$("#modal-input").find(".modal-dialog").html(result);
					// menampilkan modal dengan id modal-input
					$("#modal-input").modal('show');
				}
			});
		});
		
		//#7. menampilkan form delete data, hanya menampilan form dengan datanya
		// saat submit form, akan diproses dengan nomor #5
		$("#list-data").on("click",".btn-delete", function(){
			var id = $(this).val();
			// request halaman dengan ajax
			$.ajax({
				url:'/kelurahan/delete/'+ id, // lihat di kelurahanController, cari GetMapping(value="/delete/{id}")
				type:'get',
				dataType:'html',
				success : function(result){
					$("#modal-input").find(".modal-dialog").html(result);
					// menampilkan modal dengan id modal-input
					$("#modal-input").modal('show');
				}
			});
		});
		
	</script>
</body>
</html>