<!DOCTYPE html>
<html>
<head>
<title>Biodata</title>
</head>
<body>
	<h2>Biodata</h2>
	<form action="/action_page.php">
		First Name:<br> <input type="text" name="firstname" value="Irman">
		<br> Last Name:<br> <input type="text" name="lastname"
			value="Maulana"> <br> Jenis Kelamin:<br> <input
			type="radio" name="gender" value="Pria"> Pria <input
			type="radio" name="gender" value="Wanita"> Wanita <br>
		Tanggal Lahir:<br> <input type="date" name="date"> <br>
		Agama:<br> <input type="radio" name="agama" value="Islam">
		Islam <input type="radio" name="agama" value="Hindu"> Hindu <input
			type="radio" name="agama" value="Budha"> Budha <br> <input
			type="radio" name="agama" value="Kristen"> Kristen <input
			type="radio" name="agama" value="other"> Other <br>
		Alamat:<br>
		<textarea></textarea>
		<br> <input type="submit" name="Submit" value="Submit">
	</form>
</body>
</html>