<html xmlns:th="http://www.thymeleaf.org">
<body>
		<aside th:fragment="sidebar" class="main-sidebar">
		    <!-- sidebar: style can be found in sidebar.less -->
		    <section class="sidebar">
		      <!-- Sidebar user panel -->
		      <div class="user-panel">
		        <div class="pull-left image">
		          <img th:src="@{~/dist/img/user2-160x160.jpg}" class="img-circle" alt="User Image">
		        </div>
		        <div class="pull-left info">
		          <p>Alexander Pierce</p>
		          <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
		        </div>
		      </div>
		      <!-- search form -->
		      <form action="#" method="get" class="sidebar-form">
		        <div class="input-group">
		          <input type="text" name="q" class="form-control" placeholder="Search...">
		          <span class="input-group-btn">
		                <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
		                </button>
		              </span>
		        </div>
		      </form>
		      <!-- /.search form -->
		      <!-- sidebar menu: : style can be found in sidebar.less -->
		      <ul class="sidebar-menu" data-widget="tree">
		        <li class="header">MAIN NAVIGATION</li>	
		        <li class="treeview">
		          <a href="#">
		            <i class="fa fa-laptop"></i>
		            <span>Master Data</span>
		            <span class="pull-right-container">
		              <i class="fa fa-angle-left pull-right"></i>
		            </span>
		          </a>
		          <ul class="treeview-menu">
		            <li><a th:href="@{~/lookup/index}"><i class="fa fa-circle-o"></i> Lookup</a></li>
		            <li><a th:href="@{~/provinsi/index}"><i class="fa fa-circle-o"></i> Provinsi</a></li>
		            <li><a th:href="@{~/kota/index}"><i class="fa fa-circle-o"></i> Kota</a></li>
		            <li><a th:href="@{~/kecamatan/index}"><i class="fa fa-circle-o"></i> Kecamatan</a></li>
		            <li><a th:href="@{~/kelurahan/index}"><i class="fa fa-circle-o"></i> Kelurahan</a></li>
		          </ul>
		        </li>
		        <li class="treeview">
		          <a href="#">
		            <i class="fa fa-edit"></i> <span>Transaksi</span>
		            <span class="pull-right-container">
		              <i class="fa fa-angle-left pull-right"></i>
		            </span>
		          </a>
		          <ul class="treeview-menu">
		            <li><a th:href="@{~/biodata/index}"><i class="fa fa-circle-o"></i> Biodata</a></li>
		            <li><a th:href="@{~/employee/index}"><i class="fa fa-circle-o"></i> Employee</a></li>
		          </ul>
		        </li>		        
		      </ul>
		    </section>
		    <!-- /.sidebar -->
		  </aside>
</body>