<!-- content mulai -->
<form th:action="@{~/lookup/remove}" th:object="${lookup}" method="post" id="form-lookup">
	<div class="box box-danger box-solid">
		<div class="box-header">
			<h3 class="box-title">Delete Lookup</h3>
		</div>
		<div class="box-body form-horizontal">
			<!-- input hiddend id -->
			<input type="hidden" th:field="*{id}" />
			<table class="table">
				<tbody>
					<tr>
						<th class="col-md-2">Id</th>
						<td th:text="${lookup.id}"></td>
					</tr>

					<tr>
						<th class="col-md-2">Kode</th>
						<td th:text="${lookup.kdLookup}"></td>
					</tr>

					<tr>
						<th class="col-md-2">Nama</th>
						<td th:text="${lookup.nmLookup}"></td>
					</tr>

					<tr>
						<th class="col-md-2">Type</th>
						<td th:text="${lookup.type}"></td>
					</tr>

					<tr>
						<th class="col-md-2">Posisi</th>
						<td th:text="${lookup.posisi}"></td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="box-footer">
			<button type="submit" class="btn btn-danger pull-right">
				<i class="fa fa-trash"></i> Do you want delete this item?
			</button>
			<button data-dismiss="modal" class="btn btn-default">Cancel</button>
		</div>
	</div>
</form>