<tr th:each="item :${list}">
	<td th:text="${item.id}"></td>
	<td th:text="${item.kdLookup}"></td>
	<td th:text="${item.nmLookup}"></td>
	<td th:text="${item.type}"></td>
	<td th:text="${item.posisi}"></td>
	<td class="col-md-1">
		<button class="btn btn-xs btn-detail btn-success" th:value="${item.id}">
			<i class="fa fa-eye"></i>
		</button>		
		<button class="btn btn-xs btn-edit btn-warning" th:value="${item.id}">
			<i class="fa fa-edit"></i>
		</button>		
		<button class="btn btn-xs btn-delete btn-danger" th:value="${item.id}">
			<i class="fa fa-trash"></i>
		</button>
	</td>
</tr>