<!-- content mulai -->
<form th:action="@{~/lookup/update}" th:object="${lookup}" method="post" id="form-lookup">
<div class="box box-warning box-solid">
	<div class="box-header with-border">
		<h3 class="box-title">Update Lookup</h3>
	</div>
	<div class="box-body form-horizontal">							
		<div th:class="${#fields.hasErrors('kdLookup')} ? 'form-group has-error':'form-group'">
			<label class="control-label col-md-2">Kode</label>
			<div class="col-md-8">
				<!-- input hiddend id -->
				<input type="hidden" th:field="*{id}" />
				<!-- input kdLookup -->
				<input type="text" th:field="*{kdLookup}" class="form-control" />
				<span th:if="${#fields.hasErrors('nmLookup')}" class="help-block" th:errors="*{kdLookup}">Kode Tidak Boleh Kosong</span>
			</div>
		</div>
		
		<div th:class="${#fields.hasErrors('nmLookup')} ? 'form-group has-error':'form-group'">
			<label class="control-label col-md-2">Nama</label>
			<div class="col-md-8">
				<input type="text" th:field="*{nmLookup}" class="form-control"/>
				<span th:if="${#fields.hasErrors('nmLookup')}" class="help-block" th:errors="*{nmLookup}">Nama Tidak Boleh Kosong</span>
			</div>
		</div>
		
		<div th:class="${#fields.hasErrors('type')} ? 'form-group has-error':'form-group'">
			<label class="control-label col-md-2">Type</label>
			<div class="col-md-8">
				<input type="text" th:field="*{type}" class="form-control"/>
				<span th:if="${#fields.hasErrors('type')}" class="help-block" th:errors="*{type}">Type Tidak Boleh Kosong</span>
			</div>
		</div>
		
		<div th:class="${#fields.hasErrors('posisi')} ? 'form-group has-error':'form-group'">
			<label class="control-label col-md-2">Posisi</label>
			<div class="col-md-8">
				<input type="text" th:field="*{posisi}" class="form-control" />
				<span th:if="${#fields.hasErrors('posisi')}" class="help-block" th:errors="*{posisi}">Posisi Tidak Boleh Kosong</span>
			</div>
		</div>
		
	</div>
	<div class="box-footer">
		<button type="submit" class="btn btn-warning pull-right">
			<i class="fa fa-edit"></i> Update
		</button>
		<button class="btn btn-default" data-dismiss="modal">Cancel</button>
	</div>
</div>
</form>